<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{{ if .IsHome }}{{ .Site.Title }}{{ with .Site.Params.tagline }} | {{ . }}{{ end }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>

<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
<meta name="author" content="{{ with .Site.Params.author }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}">

<link rel="canonical" href="{{ .Permalink }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&family=Open+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">

{{ $logo := or .Params.logo site.Home.Params.logo .Site.Params.logo }}
{{ with $logo }}
  {{ $logoPath := strings.TrimPrefix "/" . }}
  {{ with resources.GetMatch $logoPath }}
    <link rel="preload" as="image" href="{{ .RelPermalink }}" fetchpriority="high">
  {{ else }}
    <link rel="preload" as="image" href="{{ . | relURL }}" fetchpriority="high">
  {{ end }}
{{ end }}

<script defer src="/js/site.js"></script>
{{ partialCached "css.html" . }}

{{ partial "opengraph.html" . }}
{{ partial "twitter_cards.html" . }}

<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="manifest" href="/site.webmanifest" />
