{{- $root := . -}}

{{- if .Params.blocks -}}
  {{- range .Params.blocks -}}
    {{- $blockName := or .block ._template -}}
    {{- $blockName = replace $blockName "_" "-" -}}
    {{- $partialPath := printf "blocks/%s" $blockName -}}
    {{- $blockParams := . -}}

    {{- if templates.Exists (printf "_partials/%s.html" $partialPath) -}}
      {{- partial $partialPath (dict "Root" $root "Params" $blockParams) -}}
    {{- else -}}
      {{- warnf "Partial not found for block type: %s" $blockName -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
